:root {
  --pramary-background-color: #ffffff;
  --secondary-background-color: #f3f4f6;
  --pramary-text-color: #2c1500;
  --secondary-text-color: #000000;
  --searc-text-color: #4f4f4f;
  --next-color: #f2f2f2;
  --footer-background-color: #eafbfa;
  --border-color: #e0e0e0;
  --accent-color: #156963;
  --pramary-btn-color: #156963;
  --secondary-btn-color: #ffffff;
  --gray1: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: var(--pramary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 58px;
  padding-right: 58px;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;

  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
/* ---------------HEADER--------------- */

.header-container {
  display: flex;
  align-items: center;
}

.header-right-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-icon:not(:first-child) {
  margin-left: 40px;
}

.secongary-btn {
  min-width: 111px;
  margin-left: 8px;

  color: var(--pramary-btn-color);
  background-color: var(--secondary-btn-color);
  margin-top: 40px;
  margin-bottom: 40px;
}

.secongary-btn:hover,
.secongary-btn:focus {
  /* background-color: var(--pramary-btn-color); */
  color: var(--pramary-btn-color);
  border: 1px solid var(--pramary-btn-color);
}

.primary-btn {
  min-width: 111px;

  color: var(--secondary-btn-color);
  background-color: var(--pramary-btn-color);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--secondary-btn-color);
  color: var(--pramary-btn-color);
  border: 1px solid var(--pramary-btn-color);
}

/* -----------------HERO------------------ */

.hero {
  padding-bottom: 47px;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-right {
  width: 520px;
  margin-left: 77px;
  margin-right: 76px;
  margin-top: 70px;
  margin-bottom: 110px;
}

.hero-title {
  font-weight: 500;
  font-size: 68px;
  line-height: 1.22;

  color: var(--accent-color);
  margin-bottom: 24px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.78;
}

/* ------------------ADVANTAGES------------------ */

.advantages {
  padding-top: 47px;
  padding-bottom: 47px;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: 266px;
  padding: 22px 16px;
}

.advantages-item:not(:last-child) {
  margin-right: 32px;
}

.advantages-icons-box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 190px;
}

.advantages-icon {
  margin-right: 16px;
}

.advantages-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  color: var(--accent-color);
}

.advantages-text {
  font-size: 10px;
  line-height: 1.6;
}

/* --------------------FEATURED--------------------- */
.featured {
  padding-top: 47px;
  padding-bottom: 51px;
}

.featured-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--secondary-text-color);
  margin-bottom: 24px;
}

.featured-list {
  display: flex;
}

.featured-item:not(:last-child) {
  margin-right: 20px;
}

.featured-image {
  margin-bottom: 16px;
}

.featured-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.featured-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--secondary-text-color);
}

/* --------------------BUY------------------------ */

.buy {
  padding-top: 51px;
  padding-bottom: 102px;
}

.buy-container {
  display: flex;
}

.buy-left {
  margin-right: 84px;
}

.buy-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.buy-text {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 74px;
}

/* -----------------FAVOURITES------------------- */

.favourites-container {
  background-color: #f3f4f6;
  display: flex;
}

.favourites-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 32px;
}

.favourites-left {
  width: 585px;
  padding-top: 88px;
  padding-bottom: 88px;
  padding-left: 97px;
}

.favourites-btn {
  padding: 10px 42px;
  min-width: 152px;

  color: var(--secondary-btn-color);
  background-color: var(--pramary-btn-color);
}

.favourites-btn:hover,
.favourites:focus {
  background-color: var(--secondary-btn-color);
  color: var(--pramary-btn-color);
  border: 1px solid var(--pramary-btn-color);
}

/* --------------------FOOTER---------------------- */

.container-footer {
  display: flex;
  padding: 60px 167px 71px;
  align-items: start;
  justify-content: space-between;
}

.footer-left {
  width: 282px;
}
/* .container-footer:not(:first-child) {
  margin-right: 80px;
} */

.footer-list {
  width: 95px;
}

.footer-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--accent-color);
  margin-bottom: 24px;
}

.footer-text-after-logo {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--gray1);
  margin-top: 24px;
}

.footer-address {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.54;

  /* Gray 2 */
  color: var(--searc-text-color);
}

.footer-address-text {
  margin-top: 10px;
}

.footer-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-link {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 1.14;

  color: var(--secondary-text-color);
}

.footer-link:not(:last-child) {
  margin-bottom: 10px;
}

.footer-subscribe {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  color: var(--secondary-text-color);
}

.footer-btn {
  display: inline-block;
  border: 1px solid transparent;
  min-width: 39px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.75;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;

  color: var(--secondary-btn-color);
  background-color: var(--pramary-btn-color);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--secondary-btn-color);
  color: var(--pramary-btn-color);
  border: 1px solid var(--pramary-btn-color);
}
